.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: rgb(245, 245, 245);
    display: flex;
    position: relative;
    margin-bottom: 100px;
    overflow: hidden;
}

.logo {
    background-position: center;
    background-size: contain;
    background-image: url(../images/logo_place_header.svg);
    background-repeat: no-repeat;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    order: 1;
    width: 180px;
    height: 32px;
}

.header__title {
    position: relative;
    width: 730px;
    font-size: 102px;
    line-height: 96px;
    margin-left: 64px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
}

.header__subtitle {
    position: absolute;
    line-height: 25px;
    font-size: 18px;
    bottom: 30px;
    left: 64px;
    width: 388px;
    margin: 0%;
}

.header__link {
    color: #2F80ED;
    text-decoration: none;
}

.header__main-illustration {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 765px;
    height: 608px;
    z-index: 1;
    max-width: 50%;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    top: 64px;
    right: 0;
    position: absolute;
}

.description {
    margin-top: 100px;
}

.two-columns__span-accent {
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
}

.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.two-columns__brief {
    color: #2F80ED;
    line-height: 1.2;
    font-size: 18px;
    margin: 0;
    width: 175px;
    font-weight: normal;
}

.two-columns__main-text {
    width: 80%;
    min-width: 784px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0%;
}

.two-columns__paragraph {
    font-size: 24px;
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 30px;
}

.two-columns__paragraph:last-child {
    margin-bottom: 0px;
}

.digits {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.section-title {
    margin-bottom: 20px;
    margin-top: 0;
    width: 60%;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-subtitle {
    margin: 0;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
}

.table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    justify-content: space-between;
}

.digits__table {
    margin-top: 0;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
}

.table__text {
    margin-top: 20px;
    margin-bottom: 0%;
    line-height: 1.2;
    font-size: 18px;
}

.table__cell {
    width: 250px;
    min-height: 5px;
    margin-top: 60px;
}

.feynman {
    padding-top: 100px;
    background-color: #F2F2F2;
    min-height: 790px;
    background-image: url(../images/feynman.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 867px 637px;
    position: relative;
}

.feynman__title {
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    width: 648px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    text-align: center;
}

.feynman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
}

.feynman__link {
    position: absolute;
    top: 50%;
    line-height: 51px;
    font-size: 36px;
    right: 48px;
    color: #2F80ED;
}

.kaufman {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #1f1f1f;
    overflow: hidden;
    position: relative;
}

.triangle__kaufman {
    background-image: url(../images/kaufman-triangle.svg);
    width: 877px;
    height: 877px;
    position: absolute;
    background-repeat: no-repeat;
    right: -210px;
    top: 0;
    background-size: contain;
    animation: rotation 20s linear infinite;
}

.table_theme_dark {
    color: white;
    z-index: 1;
}

.section-title_theme_dark {
    color: white;
}

.section-subtitle_theme_dark {
    color: white;
}

.table__cell_theme_dark {
    width: 200px;
    line-height: 1.2;
    font-size: 18px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.footer {
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1f1f1f;
    color: #fff;
    min-height: 350px;
}

.footer__columns {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

.footer__column {
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
    display: flex;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 18px;
    margin-top: 18px;
    display: flex;
}

.footer__column-heading {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 30px;
    font-size: 18px;
}

.footer__column-links {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 16px;
}

.footer__column-link {
    margin: 0;
    line-height: 30px;
    font-size: 18px;
    list-style-type: none;
    margin-left: auto;
    text-decoration: none;
    display: block;
    color: #fff;
}

.footer__social-icons {
    width: 16px;
    height: 16px;
    background-size: contain;
    position: relative;
    margin-right: 10px;
}

.link {
    text-decoration: none;
    opacity: 1;
}

.link:hover {
    color: rgb(202, 202, 202);
    transition: 0.5s linear;
    opacity: 0.6;
}